<div class="customer-list">
  <h2>Customers</h2>
  <ul>
    <li *ngFor="let customer of customers" (click)="selectCustomer(customer)">
      {{ customer.name }} - {{ customer.contactNumber }}
      <button (click)="deleteCustomer(customer.customerID); $event.stopPropagation()">Delete</button>
    </li>
  </ul>
</div>

<div class="customer-detail" *ngIf="selectedCustomer">
  <h2>Edit Customer</h2>
  <label>Name:
    <input [(ngModel)]="selectedCustomer.name">
  </label>
  <label>Address:
    <input [(ngModel)]="selectedCustomer.address">
  </label>
  <label>Contact Number:
    <input [(ngModel)]="selectedCustomer.contactNumber">
  </label>
  <button (click)="updateCustomer()">Update</button>
  <button (click)="clearSelection()">Cancel</button>
</div>

<div class="customer-create">
  <h2>Add New Customer</h2>
  <label>Name:
    <input [(ngModel)]="newCustomer.name">
  </label>
  <label>Address:
    <input [(ngModel)]="newCustomer.address">
  </label>
  <label>Contact Number:
    <input [(ngModel)]="newCustomer.contactNumber">
  </label>
  <button (click)="createCustomer()">Add</button>
</div>